body {
  background-color: gray;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

p.center {
  text-align: center;
  color: cyan;
}

span.a {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: blue;
}

span.b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid green;
  background-color: green;
}

span.c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid violet;
  background-color: violet;
}

.div-1 {
  background-color: blue; 
  display: inline;
  height: 250px;
  width: 250px;
}
   
.div-2 {
  background-color: red; 
  display: inline;
  height: 250px;
  width: 250px;
}
   
.div-3 {
  background-color: yellow; 
  display: inline;
  height: 250px;
  width: 250px;
}
